/* General layout */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', sans-serif;
}

.lw{
    float:left;
}

.rw{
    float:right;
}

.hovers:hover{
    box-shadow: -5px 5px 5px rgb(75,75,75);
}

.container{
    margin:100px 15% 100px;
}

.text{
    font-size:18px;
    margin: 30px auto
}

.clearfix::after{
    content:"";
    clear: both;
    display: table;
}

/* Header */
header{
    background-color: white;
    position:fixed;
    top:0;
    width:100%;
    height:70px;
    padding-top:15px;
    padding-bottom:40px;
    z-index:99;
}

header::after{
    content:"";
    clear: both;
    display: table;
}

header .lw{
    padding-left:30px;
}

header .rw{
    padding-right:30px;
}

header a img{
    padding-top: 7px;
}

header .button{
    margin:0 30px;
}

/* Navigation bars layout */
nav ul li{
    display: inline;
    padding:0 30px;
}

nav ul li:last-child{
    padding-right:0px;
}

nav ul li a{
    color:black;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

nav ul li a:hover{
    text-decoration: underline;
}

/* Button layout */
.button{
    padding:10px 30px;
    text-decoration:none;
}

#blue-button{
    background-color:rgb(0, 97, 255);
    color:white;
}

#white-button{
    background-color: white;
    border: 1px solid black;
    color:black;
}

/* Jumbo layout */
#jumbo{
    margin-top:70px;
    background-color:rgb(180,208,231)
}

#jumbo .container{
    margin: 0 150px;
    min-width:1700px;
    position:relative;
    top:100px;
}

h1{
    font-size: 90px;
    padding-bottom:50px;
}

#jumbo .text-container{
    font-size: 20px;
    max-width:30%;
    padding-right:5%;
}

#jumbo .text-container p{
    padding-bottom: 30px;
}

#little-text{
    font-size:16px;
    margin-top:20px;
}

#jumbo img{
    max-width:60%;
}

.text-container a{
    text-decoration: none;
    color:black;
}

#jumbo i{
    padding-top:20px;
    font-size: 40px;
}


/* Subscriptions section layout */
h2{
    font-size:50px;
    font-weight: bold;
    margin: 50px auto;
}

.input-row{
    font-size:20px;
}

.input-row span{
    padding-left:5px;
}

.input-row span:first-of-type{
    padding-right:20px;
}

#subscriptions .container{
    margin-top:200px;
}

.column{
    margin: 50px auto;
    border:1px solid rgb(100,100,100);
    width: 28%;
    min-height: 1100px;
}

.column-container{
    margin:30px;
}

.column:nth-of-type(2){
    margin: 50px 8%;
}

.target{
    border-bottom:1px solid rgb(100,100,100);
    padding:10px 30px;
    text-align: center;
}

.offer{
    padding-bottom:20px;
    width:100%;
}

.title{
    font-size:30px;
    font-weight: bold;
}

.offer .price{
    font-size:20px;
    font-weight: bold;
    padding: 15px 0 10px;
}

.offer .details{
    font-size: 16px;
    color:rgb(100,100,100);
}

.column .button{
    display: inline-block;
    margin:20px 0 20px;
    width:100%;
    text-align: center;
}

.column .features{
    padding: 20px 0 20px;
}

.features i{
    margin:10px 5px 0 0;
    width: 20px;
}

.features p{
    padding: 10px 0;
    width:calc(100% - 25px);
}

#buy-now{
    padding:0px 0 20px;
}

#buy-now a{
    color:blue;
}

.column hr{
    color:rgb(100,100,100);
}

.summary{
    margin-top: 20px;
}

.summary i{
    color:rgb(0, 97, 255);
    padding-top:30px;
    margin-right:5px;
}

.summary p{
    padding-top:30px;
    width:calc(100% - 21px);
}

.summary p:first-child{
    font-size:18px;
    font-weight: bold;
}

.row{
    display: inline-block;
    width:100%;
    margin: 50px auto;
    border:1px solid rgb(100,100,100);
}

.row-container{
    padding:30px;
}

/* Find a partner section */
.image-container{
    display: inline-block;
    width: 55%;
}

.image-container img{
    object-fit: contain;
    width:100%;
}

#find-partner .text-container{
    width:40%;
    padding-right: 100px;
}

#find-partner .text{
    line-height:30px;
}

#find-partner .button{
    display: inline-block;
}

/* Advantages section */
.advantage{
    width:30%;
}

.advantage:nth-child(3n+3){
    margin:auto 5%;
}

.advantage img{
    object-fit: contain;
    width:100%;
}

.advantage p a{
    color:black;
}

h3{
    display: inline-block;
    margin-top:100px;
    font-size:40px;
    font-weight: bold;;
}

#down-h3{
    color:blue;
    display: block;
    margin: 20px auto;
}

/* Partners section */
.square{
    display: inline-block;
    width:30%;
}

.squared{
    display: inline-block;
    width:50%;
    height: 15vw;
    text-align: center;
}

.littlesquare{
    display: inline-block;
    width:90%;
    height:13.5vw;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    background-color: rgb(162,211,155);
}

.squared img{
    width:50%;
    height:auto;
    filter: invert(1);
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.littlesquare img{
    width: 55%;
}

#partners .text-container{
    width:40%;
    height:30vw;
    background-color: rgb(245,245,245);
}


#partners .text-container img{
    width:30%;
    padding: 50px 50px;
}


#partners .text-container hr{
    width:50px;
    margin:0 50px;
}

#partners .text-container p{
    font-size: 18px;
    margin:50px;
}

#darkred-square{
    background-color: rgb(97,8,43);
}

#scarlet-square{
    background-color: rgb(255,28,28);
}

#lightblue-square{
    background-color: rgb(0,147,206);
}

#green-square{
    background-color: rgb(208,233,205);
   
}

#red-square{
    background-color: rgb(213,0,31);
}

#violet-square{
    background-color: rgb(13,36,129);
}

#azure-square{
    background-color: rgb(180,208,231);
}

#yellow-square{
    background-color: rgb(255,216,48);
}

/* Free trial section */
#free-trial{
    background-color: rgb(180,208,231);
}

#free-trial .container{
    margin: 0 15%;
    padding: 100px 0;
}

#free-trial h2{
    color:rgb(97,8,43);
    width:50%;
}

#free-trial #white-button{
    border: none;
    margin-top:60px;
}

/* FAQ section */
.faq{
    border-top:1px solid rgb(224,224,226);
}

.faq:last-child{
    border-bottom:1px solid rgb(224,224,226);
}

.question{
    font-size:18px;
    font-weight: bold;
    padding: 25px 0;
}

.faq:hover .question i{
    transform: rotate(0.5turn);
}

.answer{
    color:rgb(150,150,150);
    padding-bottom:5px;
}

.hidden{
    display: none;
}

.faq:hover .hidden{
    display: block;
}

/* Footer sections */
footer{
    color:white;
    background-color: black;
    padding:20px 0;
}

.footer-container{
    margin: 70px 10%;
}

.language-container{
    margin: 0 10% 50px;
    display: inline-block;
    border-top:1px solid white;
}

footer ul{
    width: 15%;
    margin-right:5%;
}

footer ul li{
    list-style-type: none;
    padding-bottom: 15px;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer ul li a:hover{
    text-decoration: underline;
}

footer p{
    padding-bottom:30px;
    font-size:25px;
    font-weight: bold;
    width: 15%;
    margin-right:5%;
}

.footer-container:nth-of-type(2){
    display: inline-block;
}

footer select{
    margin-top:50px;
    background-color: transparent;
    border:none;
    outline:none;
    color:rgb(175,175,175);
    font-size: 12px;
    width:70px;
    text-align: center;
    -webkit-appearance: none;
}

footer select i{
    filter:invert(1);     
}

footer select i::after{
    font-family: "Font Awesome 5 Free"; font-weight: 400; content: "f0d8";
}
